.header {
  height: 64px;
  padding: 0 12px 0 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  position: relative;
}

:global {
  .ant-layout {
    min-height: 100vh;
    overflow-x: hidden;
  }
}

.logo {
  height: 64px;
  line-height: 58px;
  vertical-align: top;
  display: inline-block;
  padding: 0 0 0 24px;
  cursor: pointer;
  font-size: 20px;
  img {
    display: inline-block;
    vertical-align: middle;
  }
}

.buttonDelegacion {
  :global(.ant-radio-button-wrapper) {
    border: 150px;
  }
}

.menu {
  :global(.anticon) {
    margin-right: 8px;
  }
  :global(.ant-dropdown-menu-item) {
    width: 200px;
  }
}
.trigger {
  height: 100%;
}
.ant-layout-sider:not(.ant-layout-sider-collapsed) {
  flex: 0 0 265px !important;
  max-width: 265px !important;
  min-width: 265px !important;
  width: 265px !important;
}
i.trigger {
  font-size: 20px;
  line-height: 64px;
  cursor: pointer;
  transition: all 0.3s, padding 0s;
  padding: 0 24px;
  &:hover {
    background: #bae7ff;
  }
}

.center {
  float: center;
  height: 10%;
}
.ant-dropdown-menu-item-only-child {
  &:hover {
    background: #e6f7ff;
  }
}
.ant-layout-header .anticon-menu-fold {
  &:hover {
    background: #e6f7ff;
  }
}
.right {
  float: right;
  height: 100%;
  .action {
    cursor: pointer;
    padding: 0 12px;
    display: inline-block;
    transition: all 0.3s;
    height: 100%;
    > i {
      font-size: 16px;
      vertical-align: middle;
      color: #262626;
      &:hover {
        background: #e6f7ff;
      }
    }
    &:hover {
      background: #e6f7ff;
    }
  }
  .search {
    padding: 0;
    margin: 0 12px;
    &:hover {
      background: transparent;
    }
  }
  .account {
    .avatar {
      margin: 20px 8px 20px 0;
      color: #1890ff;
      background: rgba(255, 255, 255, 0.85);
      vertical-align: middle;
    }
  }
}

.ant-table-tbody > tr.ant-table-row:hover > td,
.ant-table-tbody > tr > td.ant-table-cell-row-hover {
  background: #e6f7ff;
}

.ant-drawer-body {
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .header {
    :global(.ant-divider-vertical) {
      vertical-align: unset;
    }
    .name {
      display: none;
    }
    i.trigger {
      padding: 0 12px;
    }
    .logo {
      padding-right: 12px;
      position: relative;
    }
    .right {
      position: absolute;
      right: 12px;
      top: 0;
      background: #fff;
      .account {
        .avatar {
          margin-right: 0;
        }
      }
    }
  }
  .ant-layout-sider {
    max-width: 100% !important;
    width: 100% !important;
    height: 100% !important;
  }

  .ant-drawer-content-wrapper {
    width: 50% !important;
  }

  .ant-drawer-header {
    display: none;
  }
}
